html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 95%;
    margin: auto;
}

header {
    display: flex;
    width: 100%;

    background: #EDF2EC;
}

footer {
    display: flex;
    width: 100%;
}

.burger-btn{
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 26px auto 27px;
    width: 85%;
}

.logo {
    display: flex;
    width: 79.17px;
    height: 21.04px;
}

.vector1 {
    position: relative;
    top: 4px;
}

.vector2 {
    position: relative;
    right: 9px;
}

.logo a {
    position: relative;
    width: 58.13px;
    height: 17px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;

    color: #000000;
    margin: 0;
}

.logo a:hover {
    color: #E06733;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-links {
    margin: 0px 5px 0px 41px;
    list-style-type: none;
}

.nav a {
    font-family: 'Inika';
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 50px;

    color: #010201
}

.nav a:hover {
    color: #E06733;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.text-green {
    color: #499A18;
}

.text-orange {
    color: #E06733;
}
/*Welcome section*/
.welcome {
    display: flex;
    width: 100%;
    padding: 56px 0px 62px;

    font-family: 'Inter';
    font-style: normal;
    background: #EDF2EC;
}

.welcome-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
}

.leafs {
    background-image: url(../img/pictures/leafs.png);
    background-repeat: no-repeat;
    width: 450px;
    height: 410px;
}

.welcome-text {
    width: 45%;
    padding: 8px 0px 0px;
}

.welcome-text h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    margin: 0px 0px 45px;

    color: #636060;
}

.welcome-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    margin: 0px 0px 48px;
    padding: 0px 2px;

    color: #636060;
}

.button-lear-more {
    width: 158px;
    height: 44px;
    transition: 0.5s;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    border: 2px solid #E06733;
    border-radius: 10px;
    background: #EDF2EC;
}

.button-lear-more:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #E06733;
    border: 2px solid #E06733;
    border-radius: 10px;
}

/*About section*/
.about {
    display: flex;
    width: 100%;
    padding: 97px 0px 92px;

    background: #FFFFFF;
}

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: auto;
}

.about-text {
    width: 50%;
    padding: 22px 3px 0px;
}

.about-text h2 {
    width: 85%;
    margin: 0px 0px 40px;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.about-text p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.about-picture {
    background-image: url(../img/pictures/houseplant1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 38%;
    height: 30em;
}

/*Service Section*/
.service {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 0px 65px;

    background: #EDF2EC;
}

.buttons-service {
    width: 161px;
    height: 50px;
    transition: 0.5s;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    border: 1px solid #E06733;
    border-radius: 5px;
    color: #E06733;
    background: #EDF2EC;
}

.buttons-service:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #E06733;
    border: 2px solid #E06733;
    border-radius: 10px;
}

#button-service-garden.active,
#button-service-lawn.active,
#button-service-planting.active {
    color: #FFFFFF;
    background-color: #E06733;
    border: 2px solid #E06733;
    border-radius: 10px;
}

.service-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 36px 109px 0px;
}

.service-content h2 {
    width: 30%;
    margin: 0;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
}

.service-buttons {
    display: flex;
    justify-content: space-between;
    width: 55%;
    padding: 13px 0px 0px;
}

.service-pictures {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;

    width: 85%;
    margin: 82px auto 0px;
}

.main
.service
.service-pictures.active .service-item {
    filter: blur(3px);
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 27%;
    height: 28em;
    margin: 0px 0px 55px;

    border: 1px solid #E3E1D5;
    border-radius: 20px 20px 20px 20px;
    transition: 1s;
}

.block-1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6 {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 78%;
}

.block-1 {
    background-image: url(../img/service/first.png);

}

.block-2 {
    background-image: url(../img/service/second.png);
}

.block-3 {
    background-image: url(../img/service/three.png);
}

.block-4 {
    background-image: url(../img/service/four.png);
}

.block-5 {
    background-image: url(../img/service/five.png);
}

.block-6 {
    background-image: url(../img/service/six.png);
}

.main
.service
.service-pictures
.service-item.garden__link.active {
    filter: blur(0px);
}

.main
.service
.service-pictures
.service-item.lawn_link.active {
    filter: blur(0px);
}

.main
.service
.service-pictures
.service-item.planting_link.active{
    filter: blur(0px);
}

.service-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;

    color: #E06733;
    padding: 0px 1px 0px 0px
}

.service-link:hover {
    cursor: pointer;
    color: #636060;
}

.service-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin: 0px 0px 30px;
    padding: 0px 0px 0px 5px;

    color: #717171;
}

/*Prices section*/
.prices {
    display: flex;
    width: 100%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;

    background: #FFFFFF;
}

.prices-wrapper {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 40px auto 120px;
}

.prices-block-left {
    display: flex;
    width: 50%;
}

.prices-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 55%;

    background-color: #FFFFFF;
}

.prices-block h2 {
    font-size: 40px;
    line-height: 48px;

    margin: 0;
}

.prices-item {
    display: flex;
    flex-direction: column;

    width: 100%;

    border: 1px solid #E3E1D5;
    border-radius: 20px;
    margin-top: 60px;
}

.prices-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 72%;
    margin: 5px auto 35px;

}

.price-item {
    display: flex;
    align-items: center;
    justify-content: space-around;

    font-size: 20px;
    line-height: 20px;

    width: 250px;
    height: 50px;

    background: #EDF2EC;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.accordion-prices {
    display: inline-block;
    cursor: pointer;
    width: 250px;
    height: 50px;

    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: left;

    padding: 7px 0px 0px 35px;
    margin: 27px 0px 6px;

    color: #000000;

    background: #EDF2EC;
    border: 1px #E3E1D5;
    border-radius: 20px;

    appearance: none;

    background-image: url(../img/buttom/accordion_btn.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 2em top 62%, 0 0;
    background-size: .90em auto, 100%;
}

/* Open items in the price section*/
/*Basic price*/
.basics-price {
    display: none;
}
.basics-price.open {
    display: flex;
    position: relative;
    bottom: 55px;
    width: 250px;
    height: 154px;
    background: #D6E7D2;
    border-radius: 20px;
    margin: 0px 0px -50px;
}

.body-basic-price {
    display: flex;
    flex-direction: column;
    width: 169px;
    margin: 0px auto;
}

.button-basics{
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin: 16px 0px 12px;

    background-image: url(../img/buttom/accordion_btn_open.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 0em top 50%, 0 0;
    background-size: .90em auto, 100%;
}

.line-prices {
    width: 100%;
    border: 0.5px solid #AEA1A1;
    margin: 0px;
}

.body-basic-price p {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    margin: 6px 0px 6px;

    color: #717171;
}

.body-basic-price
.price-service {
    color: #000000;
}

.text-orange.number {
    font-size: 16px;
    line-height: 20px;
}

.button-order {
    cursor: pointer;
    width: 86px;
    height: 25px;

    color: #717171;
    background: #FFFFFF;
    border: 0px solid #FFFFFF;
    border-radius: 10px;
    margin: 6px 0px 12px

}

/*Standard price*/
.standard-price {
    display: none;
}
.standard-price.open {
    display: flex;
    position: relative;
    bottom: 55px;
    width: 250px;
    height: 154px;
    background: #D6E7D2;
    border-radius: 20px;
    margin: 0px 0px -50px;
}

.body-standard-price {
    display: flex;
    flex-direction: column;
    width: 169px;
    margin: 0px auto;
}

.button-standard{
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin: 16px 0px 12px;

    background-image: url(../img/buttom/accordion_btn_open.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 0em top 50%, 0 0;
    background-size: .90em auto, 100%;
}

.body-standard-price p {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    margin: 6px 0px 6px;

    color: #717171;
}

.body-standard-price
.price-service {
    color: #000000;
}

/*Pro Care price*/
.procare-price {
    display: none;
}
.procare-price.open {
    display: flex;
    position: relative;
    bottom: 55px;
    width: 250px;
    height: 154px;
    background: #D6E7D2;
    border-radius: 20px;
    margin: 0px 0px -50px;
}

.body-procare-price {
    display: flex;
    flex-direction: column;
    width: 169px;
    margin: 0px auto;
}

.button-procare{
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin: 16px 0px 12px;

    background-image: url(../img/buttom/accordion_btn_open.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 0em top 50%, 0 0;
    background-size: .90em auto, 100%;
}

.body-procare-price p {
    font-weight: 300;
    font-size: 10px;
    line-height: 10px;
    margin: 6px 0px 6px;

    color: #717171;
}

.body-procare-price
.price-service {
    color: #000000;
}


/* Open items in the price section*/

.prices-block-right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 50%;

    background-color: #FFFFFF;
}

.btn-contact-us {
    width: 161px;
    height: 50px;
    transition: 0.5s;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    border: 1px solid #E06733;
    border-radius: 5px;
    color: #E06733;
    background: #FFFFFF;

}

.btn-contact-us:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #E06733;
    border: 2px solid #E06733;
    border-radius: 10px;
}

.text-call-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    width: 75%;
}

.text-call-us h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin: 0px 0px 40px;

    text-align: right;
}

.price-image {
    position: absolute;
    top: 193px;
    background-image: url(../img/pictures/leafs-in-contact.png);
    background-repeat: no-repeat;

    width: 152px;
    height: 174px;
    margin: 35px 0px 0px;

}

/*Contact section */
.contacts {
    position: relative;
    display: flex;
    justify-content: space-evenly;

    width: 100%;

    background-color: #EDF2EC;
}

.background-in-contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: 32%;

    margin: 0px 0px 0px 55px;
}

.contacts-image {
    background-image: url(../img/pictures/contact_woman1.png);
    background-repeat: no-repeat;
    background-size: 87% 100%;
    width: 100%;
    height: 31em;

    margin: 54px 0px 0px;
}

.contact-us {
    display: flex;
    flex-direction: column;

    width: 14%;
}

.contact-us h2{
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;

    margin: 60px 0px 0px;

}

.contact-container {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.accordion-button {
    width: 89%;
    height: 50px;
    margin: 150px 0px 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    text-align: left;

    letter-spacing: 0.05em;
    padding: 5px 20px 10px;

    color: #717171;

    background: #D6E7D2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;

    appearance: none;

    background-image: url(../img/buttom/drop_btn_close.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 2em top 50%, 0 0;
    background-size: .90em auto, 100%;
}

.accordion-button:hover {
    cursor: pointer;
}

.accordion-button.active {
    background: #C1E698;
    border: 1px solid #D6E7D2;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25);

    background-image: url(../img/buttom/drop_btn_open.svg);
    background-repeat: no-repeat, repeat;
    background-position: right 2em top 50%, 0 0;
    background-size: .90em auto, 100%;

}

/*open container with cities */
.container-cities {
    display: none;
}
.container-cities.open {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    height: 234px;
    background: #DCE9D9;
}

.container-with-buttons{
    width: 380px;
    margin: 27px 0px 18px;
}
.contact-container
.button-city {
    width: 100%;
    height: 35px;
    background: #DCE9D9;
    border: 0px;
    border-bottom: 1px solid #D9D9D9;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;
    color: #499A18;
    margin: 0px 0px 12px;
}

.contact-container
.button-city:hover {
    color: #717171;
    border-bottom: 2px solid #717171;
}
/*open container with cities */

/*City cards*/
.city-card.Canandaigua,
.city-card.york,
.city-card.yonkers,
.city-card.sherrill {
    display: none;
}
.city-card.Canandaigua.active,
.city-card.york.active,
.city-card.yonkers.active,
.city-card.sherrill.active {
    display: flex;
    flex-direction: column;
    width: 448px;
    height: 214px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.05em;

    background: #EDF2EC;
    border: 1px solid #000000;
    border-radius: 20px;
    margin: 47px 0px;
}

.content-card {
    display: flex;
    justify-content: space-evenly;
    width: 339px;
    height: 165px;
    margin: 17px 76px 0px 0px;
}

.content-name {
    display: flex;
    flex-direction: column;
}

.content-in-card {
    display: flex;
    flex-direction: column;
    color: #717171;
}

.button-call-us {
    width: 122px;
    height: 26px;
    background: #EDF2EC;
    border: 1px solid #E06733;
    border-radius: 5px;
    transition: 0.5s;

    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
}

.city-card a {
    margin: -35px auto 0px;
    color:#000000;
    text-decoration: none;
}

.button-call-us:hover {
    cursor: pointer;
    color: #FFFFFF;
    background-color: #E06733;
    border: 2px solid #E06733;
    border-radius: 10px;
}
/*City cards*/
.footer-content {
    display: flex;
    justify-content: space-between;

    width: 85%;
    margin: 40px auto 0px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
}
.footer-content a {
    transition: 0.5s;
    color: #000000;
    text-decoration: none;
}
.footer-content a:hover {
    color: #636060;
}

.footer-content p{
    margin: 0;
}

.data-github {
    display: flex;
    width: 15%;
}

.data {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.git {
    margin: auto;
}

.rss {
    display: flex;
}

.rss a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    margin: 4px 0px 0px 11px;
}

.social-list {
    display: flex;
    width: 16%;
}

.social-list ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    padding: 0;
}

.social-list li {
    list-style-type: none;
    width: 32px;
    height: 32px;
    margin: auto 0px 0px 10px;
    transition: 1s;
}

.social-list li:hover {
    transform: scale(1.2);
}

@media (max-width: 1440px) {
    body {
        width: 100%;
    }
}

@media (max-width: 768px) {

    body {
        width: 100%;
    }

    footer {
        display: flex;
    }

    .logo a:hover {
    color: #000000;
    }
    .logo a:active {
        color: #E06733;
    }

    .nav {
        padding: 0;
        width: 65%;
    }

    .nav a:hover {
    color: #000000;
    }
    .nav a:active {
        color: #E06733;
    }

    .nav ul {
        width: 98%;
        padding: 0px;
    }

    .nav-links {
        margin: 0px;
    }

    .navbar {
        margin: 20px auto 0px;
        width: 92%;
        justify-content: space-around;
    }

    .logo {
        width: 28%;
        margin: 0px;
    }

    .logo a {
        width: 50%;
    }

    .vector1 {
        position: relative;
        top: -3px;
        left: 5px;
    }

    .logo .vector2 {
        position: relative;
        right: 3px;
        top: -5px;
    }

    .welcome {
        padding: 55px 0px 70px;
    }

    .button-lear-more:hover {
        cursor: pointer;
        color: #000000;
        background-color: #EDF2EC;;
        border: 2px solid #E06733;
        border-radius: 10px;
    }

    .button-lear-more:active {
        cursor: pointer;
        color: #FFFFFF;
        background-color: #E06733;
        border: 2px solid #E06733;
        border-radius: 10px;
    }

    .welcome-section {
        flex-direction: row-reverse;
        align-items: flex-start;
        width: 90%;
    }

    .leafs {
        background-image: url(../img/pictures/leafs768.png);
        background-repeat: no-repeat;
        width: 43%;
        height: 16em;

        margin: -7px 13px 0px 0px;
    }

    .welcome-text {
        width: 55%;
        margin: 0px 11px;
        padding: 0px;
    }

    .welcome-text h1 {
        font-size: 35px;

        margin: 0px 0px 30px;
    }

    .welcome-text p {
        width: 95%;
        font-size: 16px;
        line-height: 25px;

        padding: 1px 5px;
        margin: 0px 0px 35px;
    }

    .button-lear-more {
        width: 43%;
        height: 44px;
    }

    .about {
        padding: 40px 0px 45px;
    }

    .about-section {
        flex-direction: column;
        width: 91%;
    }

    .about-text {
        width: 100%;
        padding: 0px;
    }

    .about-text h2 {
        width: 63%;
        margin: 0px 3.7em 50px;
        font-size: 35px;
        line-height: 46px;
        text-align: center;
    }

    .about-text p {
        padding: 0px 15px;
    }

    .about-picture {
        background-image: url(../img/pictures/houseplant1\(768px\).png);
        background-repeat: no-repeat;
        width: 37%;
        height: 16em;
        margin: 48px 0px 50px;
    }

    .service {
        padding: 25px 0px 33px;
    }

    .service-content {
        flex-direction: column;
        align-items: flex-start;
        width: 89%;
        margin: 0px auto;
        padding: 0px 0px 0px 15px
    }

    .service-content h2 {
        width: 47%;
        margin: 35px 0px;

        font-size: 35px;
        line-height: 46px;
    }

    .service-buttons {
        width: 82%;
        padding: 7px 0px 0px;
    }

    .service-pictures {
        width: 87%;
        margin: 40px auto 0px;
    }

    .service-item {
        width: 42%;
        margin: 0px 0px 37px;
    }

    .service-description {
        text-align: center;
        width: 75%;
        margin: 0px 0px 17px;
    }

    .prices {
        display: flex;
        width: 100%;
        background: #FFFFFF;
    }

    .prices-wrapper {
        display: flex;
        width: 91%;
        margin: 45px auto 90px;
    }

    .prices-block-left {
        width: 49%;
    }

    .prices-block {
        width: 100%;
    }

    .prices-item {
        width: 96%;
        margin: 42px 18px 70px;
    }

    .prices-items {
        width: 76%;
    }

    .prices-block h2 {
        font-size: 35px;
        line-height: 42px;
        text-align: center;
        width: 50%;
        padding: 3px 0px;
    }

    .accordion-prices {
        font-weight: 700;
        line-height: 20px;
        margin: 17px 2px 17px;
        padding: 8px 0px 3px 35px;
    }

    .basics-price.open {
        bottom: 67px;
    }

    .standard-price.open {
        bottom: 67px;
    }

    .procare-price.open {
        bottom: 67px;
    }

    .prices-block-right {
        width: 49%;
        margin: 101px 0px 0px;
    }

    .text-call-us {
        width: 100%;
        padding: 0px 15px;
    }

    .text-call-us h2 {
        font-size: 25px;
        line-height: 35px;
        margin: 0px 0px 28px;
    }

    .price-image {
        top: 140px;
        right: 13px;
    }

    .contacts {
        flex-direction: column;
        align-items: center;
    }

    .background-in-contacts {
        order: 3;
        width: 31%;
        margin: 0px 0px 0px 35px;
    }

    .contacts-image {
        height: 15.5em;
        margin: 250px auto 0px 8px;
    }

    .contact-us {
        order: 1;
        width: 100%;
        align-items: center;
    }

    .contact-us h2{
        margin: 39px 0px 0px;
    }

    .contact-container {
        order: 2;
        width: 59%;
    }
    .container-cities.open {
        z-index: 2;
        top: 239px;
    }

    .accordion-button {
        width: 100%;
        margin: 98px 0px 0px;
    }

    .accordion-button:hover {
        cursor: pointer;
    }

    .city-card.Canandaigua.active,
    .city-card.york.active,
    .city-card.yonkers.active,
    .city-card.sherrill.active {
        margin: 47px 0px -240px;
        z-index: 1;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        margin: 20px auto 0px;
    }

    .footer-content p{
        padding: 0px 0px 0px 23px;
    }

    .footer-content
    .data-github {
        width: 34%;
    }

    .footer-content
    .rss {
        width: 35%;
        justify-content: center;
    }

    .footer-content
    .rss a {
        transition: 0.5s;
        margin: -8px 0px 10px;
    }

    .footer-content
    .social-list {
        width: 30%;
    }
}

@media (max-width: 420px) {

    .navbar {
        justify-content: space-between;
        width: 96%;
        margin: 32px auto 0px;
        z-index: 2;
    }

    .burger-btn {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        width: 40px;
        height: 32px;
        overflow: hidden;
        margin: 0px 17px;
    }

    .burger-btn:hover {
        background-color: #E06733;
    }

    .burger-btn span {
        width: 100%;
        height: 3px;
        background-color: #222222;
        transition: all 0.5s;
        margin: 3px 0px;
    }

    .burger-btn.active span:nth-of-type(1) {
        display: none;
      }

    .burger-btn.active span:nth-of-type(2) {
        position: fixed;
        width: 10%;
        top: 43px;
        right: 7px;
        transform: translate(-50%, 0%) rotate(45deg);
      }

    .burger-btn.active span:nth-of-type(3) {
        position: fixed;
        width: 10%;
        top: 43px;
        right: 7px;
        transform: translate(-50%, 0%) rotate(-45deg);
      }

    .burger-btn.active span:nth-of-type(4) {
        display: none;
      }

    .nav {
        display: flex;
        flex-direction: column;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #EDF2EC;
        transform: translateX(-100%);
        transition: transform 1s;
    }

    .nav.active {
        transform: translateX(0);
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .nav.active ul {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    .nav .nav-links {
        margin: 0px;
    }

    .nav.active .nav-links {
        padding: 5px;
        margin: 3px 50px;
        text-align: center;
    }

    .main .buttons-service {
        width: 121px;
        height: 35px;
        margin: 5px 0px;
        font-size: 15px;
        line-height: 20px;
    }

    .main #btn-contacts {
        background: #FFFFFF;
    }

    .main #btn-contacts:hover {
        cursor: pointer;
        color: #FFFFFF;
        background-color: #E06733;
        border: 2px solid #E06733;
        border-radius: 10px;
    }

    .main
    .buttons-service-btn-contacts {
        background: #FFFFFF;
    }

    .logo {
        margin: 6px 10px 0px;
    }

    .welcome {
        padding: 58px 0px 23px;
    }

    .leafs {
        display: none;
    }

    .welcome-section {
        width: 100%;
    }

    .welcome-text {
        width: 91%;
    }

    .welcome-text h1 {
        font-size: 25px;
        line-height: 35px;
        margin: 0px 0px 20px;
    }

    .welcome-text p {
        margin: 0px 0px 25px;
        padding: 1px 1px;
    }

    .button-lear-more {
        width: 29%;
        height: 34px;
        font-size: 10px;
        margin: 0px 3px;
    }

    .main .about {
        padding: 30px 0px 32px;
    }

    .about-section {
        flex-direction: column;
        width: 95%;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        width: 92%;
        align-items: center;
    }

    .about-text h2 {
        width: 87%;
        font-size: 25px;
        line-height: 33px;
        margin: 0px;
    }

    .about-text p {
        font-size: 15px;
        line-height: 25px;
        padding: 0px;
        padding: 0px 1px;
    }

    .about-picture {
        width: 41%;
        height: 9.2em;
        margin: -14px 0px 0px -4px;
    }

    .main
    .service {
        padding: 5px 0px 0px;
    }

    .service-content {
        width: 90%;
    }

    .service-content h2 {
        width: 58%;
        margin: 1em 0px;
        font-size: 25px;
        line-height: 33px;
    }

    .service-buttons {
        flex-wrap: wrap;
        width: 73%;
        padding: 7px 0px 0px;
    }

    .service-pictures {
        flex-direction: column;
        align-content: center;
        width: 74%;
        padding: 0px;
        margin: 33px auto 0px;
    }

    .service-item {
        width: 100%;
        margin: 0px 0px 34px;
    }

    .main .prices {
        padding: 0px 0px 35px;
    }

    .prices-wrapper {
        flex-direction: column;
        align-items: center;
        width: 65%;
        margin: 17px auto 0px;
    }

    .prices-block-left {
        width: 100%;
    }

    .prices-block {
        align-items: center;
    }

    .prices-block h2 {
        font-size: 25px;
        line-height: 30px;
        width: 100%;
        margin: 0px 0px 33px;
    }

    .prices-item {
        width: 90%;
        height: 235px;
        margin: 0px 0px 0px;
    }

    .prices-items {
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 235px;
    }

    .accordion-prices {
        width: 180px;
        height: 50px;

        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        margin: -11px 0px;
        padding: 0px 0px 0px 29px;

        background-position: right 3em top 50%, 0 0;
    }

    .prices-block-right {
        width: 100%;
        margin: 19px 0px 0px;
    }

    .text-call-us h2 {
        font-size: 20px;
        text-align: center;
        margin: 0px 0px 15px;
    }

    .text-call-us {
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    .prices-items {
        margin: 0 auto;
    }

    .price-image {
        display: none;
    }

    .basics-price.open {
        bottom: 50px;
        width: 85%;
    }

    .standard-price.open {
        bottom: 40px;
        width: 85%;
    }

    .procare-price.open {
        bottom: 45px;
        width: 85%;
    }

    .contact-us h2 {
        font-size: 25px;
        line-height: 33px;
        margin: 24px 0px 0px;
    }

    .contact-container {
        width: 83%;
    }

    .city-card.Canandaigua.active,
    .city-card.york.active,
    .city-card.yonkers.active,
    .city-card.sherrill.active {
        width: 100%;
        margin: 47px 0px -255px;
        z-index: 1;
    }

    .accordion-button {
        width: 95%;
        margin: 82px auto 0px;
        padding: 5px 18px 10px;
        background-position: right 1em top 50%, 0 0;
    }

    .accordion-button.active {
        background-position: right 1em top 50%, 0 0;
    }

    .background-in-contacts {
        width: 30%;
        margin: 131px 0px 0px 8px;
    }

    .container-cities.open {
        top: 188px;
        left: 44px;
        width: 79%;
        z-index: 2;
    }

    .container-with-buttons {
        width: 95%;
        margin: 27px 0px 18px;
    }

    .contacts-image {
        height: 7.8em;
        margin: 0px;
    }

    .footer-content {
        margin: 8px auto;
    }

    .footer-content .data-github {
        width: 70%;
    }

    .footer-content .rss a {
        margin: -11px 0px 0px;
    }

    .footer-content .social-list {
        width: 62%;
    }

    .social-list ul {
        padding: 0px;
    }

    .footer-content .rss {
        width: 70%;
        justify-content: center;
    }

}

@media (max-width: 380px) {

    .main .buttons-service {
        width: 121px;
        height: 35px;
        margin: 5px 0px;
        font-size: 15px;
        line-height: 20px;
    }

    .main #btn-contacts {
        background: #FFFFFF;
    }

    .main #btn-contacts:hover {
        cursor: pointer;
        color: #FFFFFF;
        background-color: #E06733;
        border: 2px solid #E06733;
        border-radius: 10px;
    }

    .buttons-service-btn-contacts {
        background: #FFFFFF;
    }

    .logo {
        margin: 6px 10px 0px;
    }

    .welcome {
        padding: 58px 0px 23px;
    }

    .leafs {
        display: none;
    }

    .welcome-section {
        width: 100%;
    }

    .welcome-text {
        width: 91%;
    }

    .welcome-text h1 {
        font-size: 25px;
        line-height: 35px;
        margin: 0px 0px 20px;
    }

    .welcome-text p {
        margin: 0px 0px 25px;
        padding: 1px 1px;
    }

    .button-lear-more {
        width: 29%;
        height: 34px;
        font-size: 10px;
        margin: 0px 3px;
    }

    .main .about {
        padding: 30px 0px 32px;
    }

    .about-section {
        flex-direction: column;
        width: 95%;
    }

    .about-text {
        display: flex;
        flex-direction: column;
        width: 92%;
        align-items: center;
    }

    .about-text h2 {
        width: 87%;
        font-size: 25px;
        line-height: 33px;
        margin: 0px;
    }

    .about-text p {
        font-size: 15px;
        line-height: 25px;
        padding: 0px;
        padding: 0px 1px;
    }

    .about-picture {
        width: 41%;
        height: 9.2em;
        margin: -14px 0px 0px -4px;
    }

    .service {
        padding: 5px 0px 0px;
    }

    .service-content {
        width: 90%;
    }

    .service-content h2 {
        width: 58%;
        margin: 1em 0px;
        font-size: 25px;
        line-height: 33px;
    }

    .service-buttons {
        flex-wrap: wrap;
        width: 73%;
        padding: 7px 0px 0px;
    }

    .service-pictures {
        flex-direction: column;
        align-content: center;
        width: 74%;
        padding: 0px;
        margin: 33px auto 0px;
    }

    .service-item {
        width: 100%;
        margin: 0px 0px 34px;
    }

    .main .prices {
        padding: 0px 0px 35px;
    }

    .prices-wrapper {
        flex-direction: column;
        align-items: center;
        width: 65%;
        margin: 17px auto 0px;
    }

    .prices-block-left {
        width: 100%;
    }

    .prices-block {
        align-items: center;
    }

    .prices-block h2 {
        font-size: 25px;
        line-height: 30px;
        width: 100%;
        margin: 0px 0px 33px;
    }

    .prices-item {
        width: 90%;
        height: 235px;
        margin: 0px 0px 0px;
    }

    .prices-items {
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 235px;
        margin: 0px;
    }

    .accordion-prices {
        width: 180px;
        height: 50px;

        font-weight: 700;
        font-size: 15px;
        line-height: 20px;
        margin: -11px 0px;
        padding: 0px 0px 0px 29px;

        background-position: right 3em top 50%, 0 0;
    }

    .basics-price.open,
    .standard-price.open,
    .procare-price.open {
        width: 85%;
        height: 65%;
    }

    .prices-block-right {
        width: 100%;
        margin: 19px 0px 0px;
    }

    .text-call-us h2 {
        font-size: 20px;
        text-align: center;
        margin: 0px 0px 24px;
    }

    .text-call-us {
        align-items: center;
        width: 100%;
        padding: 0px;
    }

    .price-image {
        display: none;
    }

    .contact-us h2 {
        font-size: 25px;
        line-height: 33px;
        margin: 24px 0px 0px;
    }

    .btn-contact-us {
        width: 121px;
        height: 35px;
        font-size: 15px;
        line-height: 20px;
    }

    .contact-container {
        width: 83%;
    }

    .accordion-button {
        width: 95%;
        margin: 82px auto 0px;
        padding: 5px 18px 10px;
        background-position: right 1em top 50%, 0 0;
    }

    .background-in-contacts {
        width: 30%;
        margin: 131px 0px 0px 8px;
    }

    .contacts-image {
        height: 7.8em;
        margin: 0px;
    }

    .contacts-image.active {
        background: #EDF2EC;
    }

    .container-cities.open {
        width: 79%;
        top: 189px;
        right: 40px;
    }
    .container-with-buttons {
        width: 85%;
    }

    .city-card {
        font-weight: 400;
        font-size: 16px;
        line-height: 40px;
    }
    .content-name {
        width: 20%;
    }

    .content-in-card {
        width: 45%;
    }

    .city-card a {
        margin: -10px auto 0px;
    }

    .city-card.Canandaigua.active,
    .city-card.york.active,
    .city-card.yonkers.active,
    .city-card.sherrill.active {
        width: 89%;
        width: 100%;
    }

    .footer-content {
        margin: 8px auto;
    }

    .footer-content .data-github {
        width: 70%;
    }

    .footer-content .rss a {
        margin: -11px 0px 0px;
    }

    .footer-content .social-list {
        width: 62%;
    }

    .footer-content .social-list ul {
        padding: 0px;
    }

    .footer-content .rss {
        width: 70%;
        justify-content: center;
    }
}