.forms-container {
  width: 50%;
  display: flex;
  flex-direction: column;

  padding: 15px 0px 15px 5px;
  @include media-table {
    width: 50%;
  }
}

.create-form__text,
.update-form__text {
  width: 60%;
}

.form {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  margin: 5px 0px;
  @include media-table {
    width: 100%;
  }
}

.manager-buttons {
  width: 50%;
  display: flex;
  justify-content: space-between;
  @include media-table {
    width: 100%;
  }
}