$color-body: #29032b;
$color-btn: #067402;
$color-btn-disable: #6d0190;
$color-disable-text: #d500ff;
$color-btn-hover: #14be0e;
$color-white: #ffffff;
$color-text: #fad0fb;

$table-width: 768px;
$mobile-with: 500px;
